body {
    background-color: lch(from color rebeccapurple c h));

}

.a {
    background-color: rgb(38, 204, 35);
    padding: 10px;
    margin: 100px auto 0;
    border-radius: 7px;
    height: 80%;
    width: 70vw;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px rgba(0, 0, 0, 2.0);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px dashed rebeccapurple;
}

.d {
    display: flex;
    flex-wrap: wrap;
}

.b {
    width: calc(100%/2 - 10px);
    margin: 5px auto;
}

.r {
    height: 23px;
    width: 100%;
    font-size: 12px;
    background-color: blue;
    color: aliceblue;
    text-align: center;

}

.z {
    border: radius 10px;
    height: 60%;
    cursor: pointer;

}

.z:hover {
    color: blue;
    border-color: blue;

}

.o:focus {
    border: 1px solid blue;
}